extends layout

block content
    <div class="text">
        <textarea id="textCtn"></textarea>
    </div>
    <button id="btn">点击我</button>
    <div id="resCtn">
    <div id="resText"></div>
    </div>